= form_for(@user) do |f|
  = render partial: 'layouts/errors', locals: {obj: @user}
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :age
    %br/
    = f.number_field :age
  .actions
    = f.submit
