.field.full-width
  = f.label :title
  %br
  = f.text_field :title, class: 'full-width'
.field.full-width
  = f.label :description
  %br
  = f.text_area :description, rows: 6, class: 'full-width'
.field
  = f.label :breed
  %br
  = f.text_field :breed
.actions
  = f.submit '変更を確定する', class: 'btn btn-primary btn-lg'
.clear
