/%h1 Editing item
/TODO: remove page name but bread crum on header-line ?

- conf_msg = 'おもと情報を削除すると投稿した写真と一緒に元に戻せなくなります。よろしいですか？'
= render partial: 'layouts/errors', locals: {obj: @item}

.item-view
  .image-pane
    - if @item.photos.empty?
      %span.image-frame
        まだ写真がアップロードされていません
        = link_to new_item_photo_path(@item) do
          %button{class: 'btn btn-warning'}
            %i.fa.fa-plus 写真をアップロード
    - else
      %span.image-frame
        = image_tag image_path(@item), class: 'main-image'
      / 現在大きく表示している写真を調整(編集)
      %button.image-manipulate.adjust.btn.btn-primary
        %i.fa.fa-wrench &nbsp;写真を調整
    .thumb
      %ul
        - @item.photos.each do |photo|
          %li.thumb-list
            = image_tag photo_thumbnail_path(photo)
      %span.thumb-add
        = link_to new_item_photo_path(@item) do
          %button{class: 'btn btn-warning'}
            %i.fa.fa-plus

  .info-pane
    .edit.field
      = link_to @item do
        %button{class: 'btn btn-default'} 変更をやめる
      = link_to @item, method: :delete, data: {confirm: conf_msg} do
        %button{class: 'btn btn-danger'} 削除
    = form_for @item do |f|
      = render partial: 'form', locals: {f: f}
  .clear

