%h1 Listing items

- @items.each do |item|
  .list-item
    = link_to item, class: 'item-link' do
      .item-image
        = image_tag thumbnail_path(item)
      .item-title
        = item.title
    .item-info
      .item.owner
        = link_to user_path(item.user) do
          %span.text= item.user.name
      .item.breed
        Breed
        %span.text= item.breed
      /.item.desc
      /  %span= item.description
.clear

