%h1 おもと写真を登録する

- if @photo.errors.any?
  #error_explanation
    %h2
      = pluralize(@photo.errors.count, "error")
      prohibited this item from being saved:
    %ul
      - @phpto.errors.full_messages.each do |msg|
        %li= msg
= form_tag(upload_items_path, multipart: true) do |f|
  .field
    = label_tag :file
    %br/
    = file_field_tag :file
  .actions.submit
    = submit_tag 'アップロード'

= link_to 'Back', items_path

