- conf_msg = 'Are you sure?'
.item-view
  .image-pane
    %span.image-frame
      = image_tag image_path(@item), class: 'main-image'
  .info-pane
    - if current_user && current_user.id == @item.user.id
      .edit.field
        = link_to edit_item_path(@item) do
          Edit
        = link_to @item, method: :delete, data: {confirm: conf_msg} do
          Delete
    .field.title
      %span.field-value
        = "「 #{@item.title} 」"
    .field
      品種:
      %span.field-value
        = @item.breed
    .field
      .desc-text
        = raw(h(@item.description).gsub(/\n/, '<br>'))
    .comments
      - @item.comments.each do |comment|
        .field.comment
          = link_to user_path comment.user do
            = comment.user.name
          &nbsp;:
          %span.field-value
            = comment.body
      - if current_user
        .field
          = form_tag item_comments_path(@item), method: :post do |f|
            = text_area_tag :body
            = button_tag do
              送信

  .clear

