.item-view
  .image-pane
    - if @item.photos.empty?
      %span.image-frame
        %span.main-image
          まだ写真がアップロードされていません
    - else

      #image-slider.slider-wrapper
        .main-pane
          .arrow.left.hidden
            /TODO: ArrowImage
            /%img{src:"http://www.dreamvs.jp/sp/images/sp/button/art-left.png"}
            %span &lt;
          .slider
            %ul
              - @item.photos.each_with_index do |photo, idx|
                %li
                  - position = 'first' if idx == 0
                  = image_tag photo_path(photo), class: position
                  .image-number
                    = "[Photo] #{idx+1}/#{@item.photos.size} 枚目"
                  = image_tag photo_thumbnail_path(photo), class: 'thumb'
          .arrow.right.hidden
            %span &gt;
            /%img{src:"http://www.dreamvs.jp/sp/images/sp/button/art-left.png"}
        .thumb-pane
          .arrow.left.hidden
            %img{src:"http://www.dreamvs.jp/sp/images/sp/button/art-left.png"}
          .thumb-list
          .arrow.right.hidden
            %img{src:"http://www.dreamvs.jp/sp/images/sp/button/art-right.png"}

  .info-pane
    - if current_user && current_user.id == @item.user.id
      .edit.field
        = link_to edit_item_path(@item) do
          %button{class: 'btn btn-warning'} 変更/写真を追加する
    .field.title
      %span.field-value
        = "「 #{@item.title} 」"
    .field
      品種:
      %span.field-value
        = @item.breed
    .field
      .desc-text
        = raw(h(@item.description).gsub(/\n/, '<br>'))
    %hr
    .comments
      - @item.comments.each do |comment|
        .field.comment
          = link_to user_path comment.user do
            = comment.user.name
          &nbsp;:
          %span.field-value
            = comment.body
      - if current_user
        .field
          = form_tag item_comments_path(@item), method: :post do |f|
            .comment-input
              .comment-text
                = text_area_tag :body, nil, rows: 2, class: 'form-control comment'
              .comment-submit
                = button_tag '送信', class: 'btn btn-info comment'

  .clear

= javascript_include_tag "http://sample.beco-ippei.net/slidery/js/jquery.slidery.js", charset:"utf-8"
:javascript
  $(function() {
    $('#image-slider').slidery();
  });

