<%= form_for @item do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="float: left; margin: 10px;
    width: 500px; height: 500px;">
    <%= image_tag "/images/tmp/#{@item.path}", class: 'tmp-image',
      style: 'max-width: 450px; max-height: 450px;' %><br>
    <%= f.hidden_field :path %>
  </div>
  <div style="float: left; margin: 10px;">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :breed %><br>
      <%= f.text_field :breed %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  <div style="clear: both;"></div>
<% end %>

