- if @item.errors.any?
  #error_explanation
    %h2
      = pluralize(@item.errors.count, "error")
      prohibited this item from being saved:
    %ul
      - @item.errors.full_messages.each do |msg|
        %li= msg
.item-view
  .image-pane
    %span.image-frame
      = image_tag "/images/tmp/#{@item.path}", class: 'main-image'
    %button.rotate-r
      %i.icon-rotate-right
    %button.rotate-l
      %i.icon-rotate-left
  .info-pane
    = form_for @item do |f|
      = f.hidden_field :path
      = render partial: 'form', locals: {f: f}

