= render partial: 'layouts/errors', locals: {obj: @photo}

.item-view
  .image-pane
    %span.image-frame
      = image_tag @photo.tempfile_path, class: 'main-image'
    %button.rotate.rotate-r.btn.btn-warning.btn-sm
      %i.fa.fa-rotate-right
    %button.rotate.rotate-l.btn.btn-warning.btn-sm
      %i.fa.fa-rotate-left
  .info-pane
    = form_for [@item, @photo] do |f|
      = hidden_field_tag :temp_file, @photo.temp_file
      = render partial: 'form', locals: {f: f}
  .clear

