.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: ".navbar-collapse"} }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        #top-title
          /%span.logo
          %span.logo-title
            おもとも！
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{ class: root_now? ? 'active' : '' }
          = link_to root_path do
            %i.fa.fa-home>
            \&nbsp;Home
        %li{ class: items_now? ? 'active' : '' }
          = link_to items_path do
            %i.fa.fa-pagelines>
            \&nbsp;おもと
        %li{ class: users_now? ? 'active' : '' }
          = link_to users_path do
            %i.fa.fa-users>
            \&nbsp;Users
        /%li
        /  %a{:href => "/map"}
        /  .menu-item
        /    %span.menu-text ご近所
        %li{ class: upload_now? ? 'active' : '' }
          = link_to new_item_path do
            %i.fa.fa-upload>
            \&nbsp;アップロード

      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
              %i.fa.fa-user
              = current_user.name
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'マイページ', user_path(current_user)
              %li
                %a{href:"#"}
                  %i.fa.fa-gear
                  設定
              %li.divider
              %li
                = link_to logout_path do
                  %i.icon-signout>
                  ログアウト
        - else
          %li
            = link_to login_path do
              %i.icon-signin>
              ログイン

