#top-menu
  #top-title
    = link_to root_path do
      %span.logo
      %span.logo-title
        おもとも！
  #navigation
    .menu-wrapper
      = link_to items_path do
        .menu-item
          %span.menu-text
            %i.icon-group>
            \&nbsp;みんなのおもと
    /.menu-wrapper
    /  %a{:href => "/map"}
    /  .menu-item
    /    %span.menu-text ご近所
    .menu-wrapper
      = link_to new_item_path do
        .menu-item
          %span.menu-text
            アップロード
  .clear
#header-status
  %span.alert.alert-notice
    - if notice
      = notice
    - elsif alert
      = alert
  - if current_user
    %span.logout.float
      (
      = link_to destroy_user_session_path do
        %i.icon-signout>
        ログアウト
      )
    %span.user-info.float
      = current_user.name
  - else
    %span.logout.float
      (
      = link_to new_user_session_path do
        %i.icon-signin>
        ログイン
      )

