<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
  <title>OmotoFriends #TODO app_name</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">

<header>
  <div id="top-menu">
    <div class="top-menu">
      <div class="top-title">
        <a href="index.html"><h2 class="logo">
          <i class="icon-leaf green"></i>おもとも！
        </h2></a>
      </div>
    </div>

    <a href="/">
      <div class="menu-item"><span class="menu-text">
        <i class="icon-home"></i>Home
      </span></div>
    </a>
    <a href="/search">
      <div class="menu-item"><span class="menu-text">
        <i class="icon-group"></i>みんなのおもと
      </span></div>
    </a>
    <a href="/map">
      <div class="menu-item">
        <span class="menu-text">ご近所</span>
      </div>
    </a>
    <a href="/login">
      <div class="menu-item">
        <span class="menu-text">ログイン</span>
      </div>
    </a>
  </div>
</header>

<% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<article class="main-contents">

<%= yield %>

</article>

<div class="clear"></div>

<footer>
<div class="footer-line">
&copy;kato Ippei 2014
</div>
</footer>

