!!! 5
%html
  %meta{:charset => "UTF-8"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
  %head
    %title OmotoFriends #TODO app_name
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :rel => "stylesheet"}/
    = csrf_meta_tags
  %body
    .wrapper
      %header
        = render partial: 'layouts/header'
      %article.main-contents
        = yield
      .clear
      %footer
        = render partial: 'layouts/footer'
    #footer-meta
      = javascript_include_tag "application"

